.main{
  height: 70px;
  background-color: brown;
  display: flex;
  justify-content: space-around;
}

.header p{
  margin-top: 5px;
  font-size: xx-large;
  font-weight: bold;
  color:white;
}

.cart{
  margin-top: 15px;
  height: 40px;
  width: 250px;
  border-radius: 20px;
  background-color: rgb(44, 42, 42);
  color: white;
  display: flex;
  justify-content: space-around;
}
.cart p{
  font-size: large;
  margin-top: 5px;
}
.img{
  width: 100%;
  height: 250px;
  object-fit: cover;

  
}